.upcoming h3 {
    border-bottom: 4px solid #A16207;
    margin-bottom: 5px;
}

.upcoming p {
    margin-bottom: 5px;
    font-size: large;
}
.upcoming a {
    color: green;
    text-decoration: underline;
}
